@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.why-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: rgb(239, 243, 249);
    border-radius: 100px;
    margin: 3rem 5rem;
    box-shadow: 0px 0px 10px rgb(205, 205, 205);
    transform: scale(0.99);
    transition: 0.2s ease-in-out;
    padding: 50px;
}

.why-row:hover {
    box-shadow: 0px 0px 20px rgb(160, 160, 160);
    cursor: grab;
    transform: scale(1);
}

.why-icon {
    width: 180px;
    padding: 40px;
    border: 2px solid;
    border-radius: 100%;
}

.why-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    margin-left: 40px;
}

.why-heading, .why-text {
    font-family: 'poppins', sans-serif;
}

.why-text {
    font-size: 24px;
}

@media (max-width: 916px) {
    .why-row {
        flex-direction: column;
    }

    .why-col {
        align-items: center;
        margin-left: 0px;
        margin-top: 50px
    }
}